* {
    background-color: azure;
}

.flex {
    display: flex;
    gap: 10px;
}

.grid {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid > div {
    background-color: red;
    border: 1px solid black;
    padding: 20px;
    width: 120px;
    height: 120px;
    font-size: 30px;
    text-align: center;
  }

.inline-block {
    display: inline-block;
    gap: 30px;
}

.red {
    width: 220px;
    height: 220px;
    background-color: red;
    box-sizing: border-box;
    border: 1px solid black;
}

.red-two {
    width: 200px;
    height: 120px;
    background-color: red;
    gap: 20px;
    border: 1px solid black;
}

.red-three {
    width: 210px;
    height: 150px;
    background-color: red;
    gap: 20px;
    border: 1px solid black;
}